@import "./common/_variables";
@import "./common/_reset";
@import "./common/_mixins";
@import "./common/_defines";

$paddingSp: 4vw;
$paddingPc: 40px;
$maxWidth: 1100px + $paddingPc * 2;
$h2FontSizeSp: 6vw;
$h2FontSizePc: 6rem;

html,
body {
    width: 100%;
    font-family: $fontFamilyMincho;
    letter-spacing: 0.05em;
    font-feature-settings: "palt";
    background: linear-gradient(to bottom, #fff, #eee);
    overflow-x: hidden;
}

.Main {
    position: relative;
    width: 100%;
}

.Main__inner {
    width: 100%;
    padding: 15vw 0;

    @include notSp {
        padding: 15rem 0;
    }
}

.Header {
    padding: 0 $paddingSp 1em;
    font-size: 8vw;

    @include notSp {
        max-width: $maxWidth;
        margin: auto;
        padding: 0 $paddingPc 1em;
        font-size: 8rem;
    }
}

.KV {
    width: 100%;
}

.KV__inner {
    position: relative;
    margin: auto;
    padding: 0 $paddingSp;

    @include notSp {
        max-width: $maxWidth;
        margin: auto;
        padding: 0 $paddingPc;
    }
}

.KV__header {
    font-size: $h2FontSizeSp;
    padding-bottom: 1em;

    @include notSp {
        font-size: $h2FontSizePc;
    }
}

.KV__list {
    position: relative;
    width: 100%;
    margin-bottom: 5vw;

    @include notSp {
        margin-bottom: 50px;
    }
}

.KV__list::before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-top: calc(100% / 3 * 2);
}

.KV__cell {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 600ms $easeOutExpo;
    transform-origin: center;

    &[hidden] {
        display: block;
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
        pointer-events: none;
    }
}

.KV__image {
    display: block;
    width: 100%;
}

.Thumbnail {
    display: flex;
    width: 100%;
}

.Thumbnail__cell {
    position: relative;
    width: 25%;
    overflow: hidden;
}

.Thumbnail__cell::before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-top: calc(100% / 3 * 2);
}

.Thumbnail__label {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.Thumbnail__label::before {
    content: "";
    z-index: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    transition: opacity 600ms $easeOutExpo;
}

.Thumbnail__input:checked + .Thumbnail__label::before {
    content: "";
    z-index: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
    opacity: 0;
}

.Thumbnail__image {
    z-index: 0;
    display: block;
    width: 100%;
}
