@import "./common/_variables";
@import "./common/_reset";
@import "./common/_mixins";
@import "./common/_defines";

$paddingSp: 4vw;
$paddingPc: 40px;
$maxWidth: 1100px + $paddingPc * 2;
$h2FontSizeSp: 6vw;
$h2FontSizePc: 6rem;

html,
body {
    width: 100%;
    font-family: $fontFamilyMincho;
    letter-spacing: 0.05em;
    font-feature-settings: "palt";
    overflow-x: hidden;
}

.Main {
    position: relative;
    width: 100%;
}

.Main__inner {
    width: 100%;
    padding: 5vw 0;

    @include notSp {
        padding: 5rem 0;
    }
}

.Header {
    padding: 0 $paddingSp 1em;
    font-size: 4vw;

    @include notSp {
        max-width: $maxWidth;
        margin: auto;
        padding: 0 $paddingPc 1em;
        font-size: 3rem;
    }
}
