<%
const config = {
    title: 'top',
    description: 'This is top page',
    styles: ['/css/index.css'],
    scripts: [
        'https://cdn.polyfill.io/v2/polyfill.js?features=default-3.4,IntersectionObserver',
    ],
    metaImage: 'https://dummyimage.com/600x400/333/ddd.png&text=Dummy+image',
};
const imagePath = '/images';
const features = ['webp', 'webplossless', 'webpalpha', 'webpanimation'];
const kvs = ['f_1', 'f_2', 'u_1', 'u_2'];
%>

<%- include('./common/_head.ejs', { ...config }) %>

<main id="main" class="Main" role="main">
    <div class="Main__inner">
        <h1 class="Header">
            祝Firefox&Edge対応！WebPについて諸々<br>
            2019/3/2 @ Frontend Nagoya #9
        </h1>
        <ul>
            <li>
                <a href="support.html">ブラウザサポート状況確認</a>
            </li>
            <li>
                <a href="diff.html">画質比較用</a>
            </li>
            <li>
                <a href="https://docs.google.com/spreadsheets/d/1Ckz3OuMxBAgQ40T-_f3RDQqc1FcLyEp3usXkkD32vOc/edit?usp=sharing">
                    サイズ一覧
                </a>
            </li>
        </ul>
    </div>
</main>

<%- include('./common/_foot.ejs', { ...config }) %>
